@import "tailwindcss";

.btn {
  @apply rounded border border-neutral-300 bg-white px-2.5 py-1 hover:bg-neutral-100 disabled:opacity-40 disabled:hover:bg-white;
}

.icon-btn {
  @apply rounded px-1 text-xs hover:bg-neutral-200 disabled:opacity-30 disabled:hover:bg-transparent;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
}
